In [6]:
import random
import json
import pandas as pd
from aidds.module.data_io import read_data

In [7]:
jdict = json.loads('{"PRED_1": {"CONS": {"ACC_NO": "474920205115", "CONS_COST": 4081676, "ACC_DATE": "2021-11-21 18:27:50", "OFFICE_CD": "GGGG", "CONT_CAP": 5, "SUB_TYPE": 1, "PRED_NO": 1, "PRED_TYPE": 1}, "POLE": {"POLE_1": {"POLE_SHAPE_CD": "O", "POLE_TYPE_CD": "C", "POLE_SPEC_CD": 10.0, "GEO_X": "GEO", "GEO_Y": "GEO"}, "POLE_2": {"POLE_SHAPE_CD": "O", "POLE_TYPE_CD": "C", "POLE_SPEC_CD": 10.0, "GEO_X": "GEO", "GEO_Y": "GEO"}}, "LINE": {"LINE_1": {"WIRING_SCHEME": 13, "LINE_TYPE_CD": "C2", "LINE_SPEC_CD": 25.0, "LINE_PHASE_CD": 1, "SPAN": 32, "NEUTRAL_TYPE_CD": "ZZ", "NEUTRAL_SPEC_CD": 0.0}, "LINE_2": {"WIRING_SCHEME": 13, "LINE_TYPE_CD": "C2", "LINE_SPEC_CD": 25.0, "LINE_PHASE_CD": 1, "SPAN": 31, "NEUTRAL_TYPE_CD": "ZZ", "NEUTRAL_SPEC_CD": 0.0}}, "SL": {"SL_1": {"SL_TYPE_CD": "D2", "SL_SPEC_CD": 3.2, "SL_SPAN": 12, "SUPERVISOR": 1}}}, "PRED_2": {"CONS": {"ACC_NO": "474920205115", "CONS_COST": 3636526, "ACC_DATE": "2020-12-01 08:29:27", "OFFICE_CD": "CCCC", "CONT_CAP": 9, "SUB_TYPE": 1, "PRED_NO": 2, "PRED_TYPE": 2}, "POLE": {"POLE_1": {"POLE_SHAPE_CD": "O", "POLE_TYPE_CD": "C", "POLE_SPEC_CD": 12.0, "GEO_X": "GEO", "GEO_Y": "GEO"}}, "LINE": {"LINE_1": {"WIRING_SCHEME": 43, "LINE_TYPE_CD": "AO", "LINE_SPEC_CD": 35.0, "LINE_PHASE_CD": 3, "SPAN": 32, "NEUTRAL_TYPE_CD": "AL", "NEUTRAL_SPEC_CD": 32.0}}, "SL": {"SL_1": {"SL_TYPE_CD": "C4", "SL_SPEC_CD": 10.0, "SL_SPAN": 20, "SUPERVISOR": 1}}}, "PRED_3": {"CONS": {"ACC_NO": "474920205115", "CONS_COST": 3243500, "ACC_DATE": "2021-02-16 15:41:31", "OFFICE_CD": "GGGG", "CONT_CAP": 3, "SUB_TYPE": 1, "PRED_NO": 3, "PRED_TYPE": 3}, "POLE": {"POLE_1": {"POLE_SHAPE_CD": "O", "POLE_TYPE_CD": "C", "POLE_SPEC_CD": 10.0, "GEO_X": "GEO", "GEO_Y": "GEO"}, "POLE_2": {"POLE_SHAPE_CD": "O", "POLE_TYPE_CD": "C", "POLE_SPEC_CD": 10.0, "GEO_X": "GEO", "GEO_Y": "GEO"}}, "LINE": {"LINE_1": {"WIRING_SCHEME": 13, "LINE_TYPE_CD": "OW", "LINE_SPEC_CD": 22.0, "LINE_PHASE_CD": 1, "SPAN": 26, "NEUTRAL_TYPE_CD": "WO", "NEUTRAL_SPEC_CD": 22.0}, "LINE_2": {"WIRING_SCHEME": 13, "LINE_TYPE_CD": "OW", "LINE_SPEC_CD": 22.0, "LINE_PHASE_CD": 1, "SPAN": 51, "NEUTRAL_TYPE_CD": "WO", "NEUTRAL_SPEC_CD": 22.0}}, "SL": {"SL_1": {"SL_TYPE_CD": "D2", "SL_SPEC_CD": 3.2, "SL_SPAN": 12, "SUPERVISOR": 1}}}}')

In [8]:
type(jdict)

dict

In [9]:
df_dict = {}

In [22]:
sp1 = jdict['PRED_1']['CONS']
sp1

{'ACC_NO': '474920205115',
 'CONS_COST': 4081676,
 'ACC_DATE': '2021-11-21 18:27:50',
 'OFFICE_CD': 'GGGG',
 'CONT_CAP': 5,
 'SUB_TYPE': 1,
 'PRED_NO': 1,
 'PRED_TYPE': 1}

In [31]:
r1 = [sp1]
df1 = pd.DataFrame(r1)
df1

,ACC_NO,CONS_COST,ACC_DATE,OFFICE_CD,CONT_CAP,SUB_TYPE,PRED_NO,PRED_TYPE
0,474920205115,4081676,2021-11-21 18:27:50,GGGG,5,1,1,1

In [23]:
sp2 = jdict['PRED_1']['LINE']
sp2

{'LINE_1': {'WIRING_SCHEME': 13,
  'LINE_TYPE_CD': 'C2',
  'LINE_SPEC_CD': 25.0,
  'LINE_PHASE_CD': 1,
  'SPAN': 32,
  'NEUTRAL_TYPE_CD': 'ZZ',
  'NEUTRAL_SPEC_CD': 0.0},
 'LINE_2': {'WIRING_SCHEME': 13,
  'LINE_TYPE_CD': 'C2',
  'LINE_SPEC_CD': 25.0,
  'LINE_PHASE_CD': 1,
  'SPAN': 31,
  'NEUTRAL_TYPE_CD': 'ZZ',
  'NEUTRAL_SPEC_CD': 0.0}}

In [24]:
sp3 = jdict['PRED_1']['POLE']
sp3

{'POLE_1': {'POLE_SHAPE_CD': 'O',
  'POLE_TYPE_CD': 'C',
  'POLE_SPEC_CD': 10.0,
  'GEO_X': 'GEO',
  'GEO_Y': 'GEO'},
 'POLE_2': {'POLE_SHAPE_CD': 'O',
  'POLE_TYPE_CD': 'C',
  'POLE_SPEC_CD': 10.0,
  'GEO_X': 'GEO',
  'GEO_Y': 'GEO'}}

In [25]:
sp4 = jdict['PRED_1']['SL']
sp4

{'SL_1': {'SL_TYPE_CD': 'D2',
  'SL_SPEC_CD': 3.2,
  'SL_SPAN': 12,
  'SUPERVISOR': 1}}

In [28]:
r2 = [v for _, v in sp2.items()]
df2 = pd.DataFrame(r2)
df2

,WIRING_SCHEME,LINE_TYPE_CD,LINE_SPEC_CD,LINE_PHASE_CD,SPAN,NEUTRAL_TYPE_CD,NEUTRAL_SPEC_CD
0,13,C2,25.0,1,32,ZZ,0.0
1,13,C2,25.0,1,31,ZZ,0.0

In [30]:
r4 = [v for _, v in sp4.items()]
df4 = pd.DataFrame(r4)
df4

  SL_TYPE_CD  SL_SPEC_CD  SL_SPAN  SUPERVISOR
0         D2         3.2       12           1