In [2]:
from aidds_buy.sys.utils.data_io import read_data, save_data
from aidds_buy.cleaning.cleaning import Cleaning

In [ ]:
df = read_data('data.provide.pole')
df = df.rename(columns={'X좌표-Y좌표': 'X좌표_Y좌표'})
save_data(df, 'data.provide.pole')
df = read_data('data.provide.sl')
df = df.rename(columns={'지지물간거리': '인입선지지물간거리'})
save_data(df, 'data.provide.sl')

In [7]:
# Cleaning class Test
Cleaning()

[2aafeca6998a][2024-04-11 20:30:11.481471] Cleaning provided data start.
[aa1ebde3f86b][2024-04-11 20:30:11.481773]   Fetching provided data start.
[aa1ebde3f86b][2024-04-11 20:30:30.528748]     Get CONS dataset: Size(19052, 143), Processing Time 0:00:19.046898
[aa1ebde3f86b][2024-04-11 20:30:56.052105]     Get POLE dataset: Size(38533, 63), Processing Time 0:00:25.523256
[aa1ebde3f86b][2024-04-11 20:31:18.170951]     Get LINE dataset: Size(40019, 77), Processing Time 0:00:22.118752
[aa1ebde3f86b][2024-04-11 20:31:31.625607]     Get SL dataset: Size(22632, 57), Processing Time 0:00:13.454560
[aa1ebde3f86b][2024-04-11 20:31:31.625670]   Fetching provided data end., Total processing time: 0:01:20.143898
[2aafeca6998a][2024-04-11 20:31:31.716962]   CONS dataset cleaning: (15474, 5)
[2aafeca6998a][2024-04-11 20:31:31.747492]   POLE dataset cleaning: (28121, 4)
[2aafeca6998a][2024-04-11 20:31:31.807889]   LINE dataset cleaning: (30617, 8)
[2aafeca6998a][2024-04-11 20:31:31.830610]   SL dataset cleaning: (17222, 5)
[2aafeca6998a][2024-04-11 20:31:31.832632] Cleaning provided data end., Total processing time: 0:01:20.351170

In [9]:
# 클리닝된 공사비 데이터셋 사업소 코드 확인
df = read_data('data.cleaning.cons')
df.head()

         acc_no  cons_cost office_cd  cont_cap  sup_type
0  477420193243   11598900      AAAA         5         1
1  477420193349   23535217      AAAA         3         1
2  477420193827    5362339      AAAA         3         1
3  477420194090   19049767      AAAA         3         1
4  477420203270    4170650      AAAA         3         1

In [3]:
df = read_data('data.provide.sl')

In [5]:
[col for col in df.columns if col.endswith('간거리')]

['지지물간거리']

In [7]:
from aidds_buy.sys.utils.data_io import get_provide_data
from aidds_buy.sys.utils.exception import AiddsException

In [8]:
try:
    _ = get_provide_data()
except AiddsException as ae:
    ae.print()

[e2c846bfa2a8][2024-04-11 09:22:44.157552] Fetching provided data start.
[e2c846bfa2a8][2024-04-11 09:23:10.330539]   Get CONS dataset: Size(19052, 143), Processing Time 0:00:26.172815
[e2c846bfa2a8][2024-04-11 09:23:43.824295]   Get POLE dataset: Size(38533, 63), Processing Time 0:00:33.493577
[e2c846bfa2a8][2024-04-11 09:24:15.438043]   Get LINE dataset: Size(40019, 77), Processing Time 0:00:31.613566
[e2c846bfa2a8][2024-04-11 09:24:32.832730]   Get SL dataset: Size(22632, 57), Processing Time 0:00:17.394532
[e2c846bfa2a8][2024-04-11 09:24:32.832837] Fetching provided data end., Total processing time: 0:01:48.675302